/*
 *  CSS for STklos Documentation
 *
 *           Author: Erick Gallesio [eg@essi.fr]
 *    Creation date: 13-Oct-2004 11:42 (eg)
 * Last file update: 10-Aug-2010 00:13 (eg)
 */

html {
  background: #F1EEE0;
}

h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

.skribetitle {
    padding: 10 0 20 0;
    background: #4B4C4C;
}

.navnorm {
    background: ivory;
}

.navsel {
    background: #FAFAD2;
}

.code {

    border: 1px solid;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

A:link, A:visited {
    color: #0B4796 ;
    text-decoration: none;
}

A:hover {
    background: #aaaaff;
    text-decoration: none;
}

