/*
 *  CSS for STklos Documentation
 * 
 *           Author: Erick Gallesio [eg@essi.fr]
 *    Creation date: 13-Oct-2004 11:42 (eg)
 * Last file update: 21-Oct-2004 14:27 (eg)
 */

.skribetitle {
    padding: 10 0 20 0;
    background: #E6F2E6;    		
}

.navnorm {
    background: white;
}

.navsel {
    background: #ffffd0;
}

.code {
    border: 1px solid; 
    border-bottom: 2px solid;
    border-right: 2px solid;
}

A:link, A:visited {
    color: #0000ff; 
    text-decoration: none; 
}

A:hover {
    background: #aaaaff; 
    text-decoration: none; 
}

